In [1]:
# import libs
from covid_data_germany.covid_data_germany import covid_data_germany

In [2]:
# initiate the class
dataset = covid_data_germany()

In [3]:
# get the county level data
dataset.get_data(level = "county")

In [5]:
dataset.data.head(n = 5)

,OBJECTID,ADE,GF,BSG,RS,AGS,SDV_RS,GEN,BEZ,IBZ,...,Shape__Area,Shape__Length,death_rate,cases,deaths,cases_per_100k,cases_per_population,BL,BL_ID,county
0,1,4,4,1,01001,01001,010010000000,Flensburg,Kreisfreie Stadt,40,...,4.918293e+07,42752.592015,0.000000,13,0,14.524491,0.014524,Schleswig-Holstein,1,SK Flensburg
0,2,4,4,1,01002,01002,010020000000,Kiel,Kreisfreie Stadt,40,...,1.122314e+08,104373.457289,0.000000,39,0,15.754520,0.015755,Schleswig-Holstein,1,SK Kiel
0,3,4,4,1,01003,01003,010030000000,Lübeck,Kreisfreie Stadt,40,...,2.116771e+08,146459.457897,4.761905,21,1,9.668597,0.009669,Schleswig-Holstein,1,SK Lübeck
0,4,4,4,1,01004,01004,010040000000,Neumünster,Kreisfreie Stadt,40,...,7.140224e+07,54863.995416,0.000000,7,0,8.806471,0.008806,Schleswig-Holstein,1,SK Neumünster
0,5,4,4,1,01051,01051,010510044044,Dithmarschen,Kreis,42,...,1.425511e+09,250768.570200,0.000000,12,0,9.008333,0.009008,Schleswig-Holstein,1,LK Dithmarschen

In [6]:
# get the state level data
dataset.get_data(level = "state")

In [7]:
dataset.data.head(n = 5)

,OBJECTID_1,LAN_ew_AGS,LAN_ew_GEN,LAN_ew_BEZ,LAN_ew_EWZ,OBJECTID,Fallzahl,Aktualisierung,AGS_TXT,GlobalID,faelle_100000_EW,Shape__Area,Shape__Length,Death
0,1,01,Schleswig-Holstein,Land,2889821,15,347,1584576000000,01,fc5ba936-c95c-432c-8a33-9eb2f30b660f,12.007664,4.573731e+10,2.881496e+06,1
0,2,02,Hamburg,Freie und Hansestadt,1830584,6,872,1584576000000,02,0f3e860c-5181-4d3f-a421-1d51f50315ea,47.635072,2.089396e+09,4.188002e+05,0
0,3,03,Niedersachsen,Land,7962775,9,1306,1584576000000,03,3fd77024-c29b-4843-9be8-682ad48e60c9,16.401317,1.299836e+11,4.008988e+06,1
0,4,04,Bremen,Freie Hansestadt,681032,5,165,1584576000000,04,4132268b-54de-4327-ac1e-760e915112f1,24.227936,1.119157e+09,3.357177e+05,0
0,5,05,Nordrhein-Westfalen,Land,17912134,10,3545,1584576000000,05,561d658f-3ee5-46e3-bc95-3528c6558ab9,19.791053,8.782936e+10,2.648673e+06,6